@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
/**************************/
/* RESET */
/**************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
}
/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/
.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 20px;
}

/**************************/
/* products */
/**************************/
.products {
  padding: 50px 0;
  background-color: #f7f7f7;
}
.products__title {
  margin-bottom: 32px;
  text-align: center;
}
.products__tabs {
  margin-top: 44px;
  margin-bottom: 80px;
  text-align: center;
}
.tab-controls {
  display: inline-flex;
  padding: 6px;
  align-items: center;
  border-radius: 44px;
  background: #eee;
}
.tab-controls__btn {
  height: 45px;
  padding: 7px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  color: rgba(31, 31, 31, 0.8);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.85;
  transition: background-color 0.2s ease-in;
}
.tab-controls__btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.tab-controls__btn--active {
  background-color: #fff;
}
.tab-controls__btn--active:hover {
  background-color: #fff;
}

.card {
  width: 268px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #eee;
}

.slider {
  position: relative;
}
.slider__btn {
  font-size: 44px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 7.03125px 19.53125px 0px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__btn--prev {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider__btn--next {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.card[data-tab-value="chair"] {
  background-color: #22b8cf;
}

.card[data-tab-value="lamp"] {
  background-color: #20c997;
}

.card[data-tab-value="sofa"] {
  background-color: #51cf66;
}

.card[data-tab-value="bed"] {
  background-color: #fcc419;
}
