/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
font-family: "Outfit", sans-serif;
*/

/**************************/
/* VARIABLES */
/**************************/
:root {
  /* COLORS */
  --clr-primary-1: #212121;
  --clr-primary-2: #3d3d3d;
  --clr-primary-3: #f1f7fa;
  --clr-secondary-1: #0998c3;
  --clr-secondary-2: #6bdbfd;
  --clr-secondary-3: #dbf5fd;
  --clr-other-red: #fc6363;
  --clr-other-orange: #ffb546;
  --clr-other-green: #06c698;
  --clr-neutral-white: #ffffff;
  --clr-neutral-dark: #262626;
  --clr-neutral-gray: #808080;
  --clr-neutral-light-1: #eeeeee;
  --clr-neutral-light-2: #fafafa;
  --clr-dark-1: #131317;
  --clr-dark-2: #2e2e2e;
  --clr-dark-3: #454554;

  /* FONT WEIGHTS */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  /* FONTS */
  --font-1: "Crimson Text", serif;
  --font-2: "DM Sans", sans-serif;

  /* FONT SIZES */
  /* не забывай сразу со шрифтом добовлять такой же lh */
  --fz-xs: 0.75rem; /* 12px */
  --fz-sm: 0.875rem; /* 14px */
  --fz-base: 1rem; /* 16px */
  --fz-lg: 1.125rem; /* 18px */
  --fz-xl: 1.25rem; /* 20px */
  --fz-2xl: 1.5rem; /* 24px */
  --fz-3xl: 1.875rem; /* 30px */
  --fz-4xl: 2.25rem; /* 36px */
  --fz-5xl: 3rem; /* 48px */
  --fz-6xl: 3.75rem; /* 60px */
  --fz-7xl: 4.5rem; /* 72px */
  --fz-8xl: 6rem; /* 96px */
  --fz-9xl: 8rem; /* 128px */

  /* LINE HEIGHTS */
  --lh-xs: 1rem; /* 16px */
  --lh-sm: 1.25rem; /* 20px */
  --lh-base: 1.5rem; /* 24px */
  --lh-lg: 1.75rem; /* 28px */
  --lh-xl: 1.75rem; /* 28px */
  --lh-2xl: 2rem; /* 32px */
  --lh-3xl: 2.25rem; /* 36px */
  --lh-4xl: 2.5rem; /* 40px */
  --lh-5xl: 1; /* 48px */
  --lh-6xl: 1; /* 60px */
  --lh-7xl: 1; /* 72px */
  --lh-8xl: 1; /* 96px */
  --lh-9xl: 1; /* 128px */

  /*========== Spaces  ==========*/
  /* sp-1 это 4 тоесть все кратное 4.  */
  --sp-xxxs: 0.125rem; /* 2px  */
  --sp-xxs: 0.25rem; /* 4px  */
  --sp-xs: 0.5rem; /* 8px  */
  --sp-sm: 0.75rem; /* 12px */
  --sp-md: 1rem; /* 16px (Базовый шаг) */
  --sp-lg: 1.5rem; /* 24px */
  --sp-xl: 2rem; /* 32px */
  --sp-2xl: 3rem; /* 48px */
  --sp-3xl: 4rem; /* 64px */
  --sp-4xl: 5rem; /* 80px */
  --sp-5xl: 6rem; /* 96px */
  --sp-6xl: 8rem; /* 128px*/
}

/**************************/
/* RESET */
/**************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-neutral-light-1);
  font-family: var(--font-2);
  color: var(--clr-dark-2);
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
}
/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

/**************************/
/* HEADER */
/**************************/
